.border_radius{
  border-top-left-radius: 0.55rem;
  border-top-right-radius: 0.55rem;
}
@media screen and (min-width: 1445px) {
  .custom_height{
    min-height: 257px !important;
    max-height: 465px !important;
    overflow: hidden;
  }
}
.custom_height{
  min-height: 150px;
  max-height: 320px;
  overflow: hidden;
}
.disable_grab{
  pointer-events: none;
}
.view {
  display: contents;
}
.custom_width{
  width: 41px ;
  height: 30px;
  text-align: center;
}
.check_custom{
  background-color:#f19306;
  color: white;
  width: 48px;
  height: 30px;
}

.ioncontent{
  --ion-background-color: linear-gradient(#58ba6b,#3cb2ab, #3eb594,#fff,#fff, #fff);
}