.border_radius{
  border-top-left-radius: 0.55rem;
  border-top-right-radius: 0.55rem;
}
.custom_height{
  min-height: 150px !important;
  max-height: 320px !important;
  overflow: hidden;
}
.disable_grab{
  pointer-events: none;
}
.view {
  display: contents;
}