<ion-header color="primary" class="ion-margin-top">
	<ion-title color="primary" class="text-center py-2">Profile</ion-title>
</ion-header>

<ion-content class="ion-padding-vertical">
	<ion-grid>
		<ion-row>
			<ion-col size-sm="12" size-md="6" offset-md="4" size-xl="4" offset-md="3" offset-xl="4">
				<div #myswing1 swing-stack [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)"
					(throwoutright)="voteUp(true)" id="card-stack">
					<ion-card>
						<div #mycards1 *ngFor="let c of cards" swing-card>
							<div class="custom_height">
								<img *ngIf="c?.userImage" [src]="c?.userImage" class="w-100 border_radius disable_grab"
									title="Profile Picture">
							</div>
							<h5 class="ion-padding-horizontal ion-margin-top ion-no-margin">{{ c?.name }}</h5>
							<ion-card-content class="ion-padding-horizontal">
								{{c?.age || '-'}}
								{{c?.height || '-'}}
								{{c?.Education || '-'}}
								{{c?.profession || '-'}}
								{{c?.zodiac_star || '-'}}
								{{c?.Religion || '-'}} - {{c?.caste || '-'}}
								{{c?.city || '-'}}
								{{c?.state || '-'}}
							</ion-card-content>
							<ion-row>
								<ion-col>
									<ion-button color="danger" (click)="voteUp(false)">
										<ion-icon slot="start" name="thumbs-down"></ion-icon>
										No
									</ion-button>
								</ion-col>
								<ion-col class="ion-text-end">
									<ion-button float-end color="success" (click)="voteUp(true)">
										<ion-icon slot="start" name="thumbs-up"></ion-icon>
										Yes
									</ion-button>
								</ion-col>
							</ion-row>
						</div>
					</ion-card>
				</div>
				<ion-button *ngIf="showRestart" (click)="onClick()" expand="block"  color="dark" size="large" shape="round">
					Restart
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<p class="ion-text-center ion-no-margin">{{ recentCard }}</p>
</ion-content>